
<div id="com-<%= comment.id %>">
  <div class="q-body d-flex py-3">
    <div class="d-inline mx-3 w-100">
      <p class="c-content float-right"><%= comment.content %></p>
      <div class="q-icons float-right">
        <%#= link_to  'edit', edit_question_path(@question), class:"material-icons i" %>
        <%#= link_to  'delete', [@question, answer], remote: true, method: 'delete', data:{confirm: "Eliminar respuesta?"}, class:"material-icons i" %>
      </div>
    </div>
  </div>
</div>
