

.counters{
  font-size: 24px;
  font-weight: 400;
}

.q-title{
  text-decoration: none;
  color: #FF5733;
  font-size: 24px;
  font-weight: bold;
}

.q-title-s{
  text-decoration: none;
  color:#3d3d3d;
  font-size: 28px;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.q-title:hover{
  text-decoration: none;
  color: #d35400;
  font-size: 24px;
  font-weight: bold;
}

.boderless th, .borderless td{
  border: none;
}

.muted{
  color: #95a5a6;
  font-size: 16px;
}

.i{
  text-decoration: none;
  color: #3d3d3d;
}

.i:hover{
  text-decoration: none;
  color: #d35400;
}