

.counters{
  font-size: 24px;
  font-weight: 400;
}

.q-title{
  text-decoration: none;
  color: #FF5733;
  font-size: 24px;
  font-weight: bold;
}
.q-title:hover{
  text-decoration: none;
  color: #d35400;
  font-size: 24px;
  font-weight: bold;
}

.boderless th, .borderless td{
  border: none;
}

.muted{
  color: #95a5a6;
  font-size: 16px;
}